$blog-font: Lucida Grande, sans-serif;
$blog-secondary-font: monospace;

$blog-font-color: #333;
$blog-font-secondary-color: #06c;

$blog-seperator-color: #efefef;


.blog-entry {
    font-size: 75%;
    max-width: 30rem;
    padding: 1.5rem 1.125rem;
    margin: auto;
    font-family: $blog-font;
    line-height: 1.4;
    color: $blog-font-color;
    text-rendering: optimizeLegibility;


    .blog-header {
        .blog-entry-title {
            margin: 0;
            padding: 0;
            line-height: 2.8rem;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.7rem;
        }
        .blog-entry-date {
            font-family: $blog-secondary-font;
            color: $blog-font-secondary-color;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }
    }
    
    .blog-body {
        font-size: 12px;
        
        img {
            margin: 0.5rem 0;
        }
        
        a {
            color: $blog-font-secondary-color;
            &:hover {
                text-decoration: none;
                background-color: $blog-font-secondary-color;
                color: white;
            }
        }
    }
    .blog-footer {
        border-top: 1px solid $blog-seperator-color;
        width: 100%;
        .author {
            border-bottom: 1px solid $blog-seperator-color;
            margin: 1.5rem 0;
            padding-bottom: 1.5rem;
            
            .author-about {
                font-size: 1.3rem;
                font-family: $blog-secondary-font;
                text-transform: lowercase;
                font-weight: normal;
            }
            .author-image {
                max-width: 20%;
                display: inline-block;
            }
            .author-description {
                padding-left: 0.5rem;
                display: inline-block;
                max-width: 75%;
                vertical-align: top;
            }
        }
    }
}